{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Nuestros trabajos - Lumivy Template</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static 'assets/img/education/logo.jpg' %}" style="background-color: transparent; border-radius: 30%" rel="icon">
  <link href="{% static 'assets/img/education/logo.jpg' %}" style="background-color: transparent; border-radius: 30%" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

</head>

<body class="contact-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
   <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
      <a href="{% url 'index' %}" class="logo d-flex align-items-center">
         <img src="{% static 'assets/img/education/logo.jpg' %}" alt="LUMYVY Logo" style="height: 40px; background-color: transparent; border-radius: 100%">
         <h1 class="sitename">LUMIVY</h1>
      </a>
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'index' %}">Inicio</a></li>
          <li><a href="{% url 'about' %}">Conócenos</a></li>
          <li><a href="{% url 'contact' %}">Contáctanos</a></li>
          <li><a href="{% url 'our_works' %}">Nuestros trabajos</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

 <main class="main">

        <!-- Page Title -->
    <div class="page-title dark-background position-relative overflow-hidden">
      <!-- Video de fondo -->
        <div class="video-background">
          <iframe src="https://player.vimeo.com/video/1111807933?autoplay=1&muted=1&loop=1&background=1" 
                  frameborder="0" 
                  allow="autoplay; fullscreen; picture-in-picture" 
                  allowfullscreen>
          </iframe>
        </div>

      <!-- Contenido sobre el video -->
      <div class="container position-relative" style="z-index: 1;">
        <h1>Nuestros Trabajos</h1>
        <p>Una muestra de nuestros proyectos audiovisuales</p>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'index' %}">Inicio</a></li>
          </ol>
        </nav>
      </div>
    </div>

    <section id="news-hero" class="news-hero section">

      <div class="container section-title" data-aos="fade-up">
            <h2>Nuestros clientes</h2>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up">

        <div class="row g-4">
          <!-- Left Side Posts -->
          <div class="col-lg-3">
            <div class="side-posts">
              <!-- Side Post 1 -->
              <article class="post-item side-post" data-aos="fade-right" data-aos-delay="100">
                <div class="post-img">
                  <img src="{% static 'assets/img/education/olor_fragante.png' %}" alt="Post Image" class="img-fluid" loading="lazy">
                  <span class="category entertainment">OLOR FRAGANTE</span>
                </div>
                <div class="post-content">
                  <h3 class="post-title">
                    <a href="#">En Olor Fragante capturamos tomas cargadas de esencia, emoción y autenticidad.</a>
                  </h3>
                  <div class="post-meta">
                    <span>Junio 21, 2025</span>
                  </div>
                </div>
              </article>

              <!-- Side Post 2 -->
              <article class="post-item side-post" data-aos="fade-right" data-aos-delay="200">
                <div class="post-img">
                  <img src="{% static 'assets/img/education/biovida.jpg' %}" alt="Post Image" class="img-fluid" loading="lazy">
                  <span class="category entertainment">BIOVIDA</span>
                </div>
                <div class="post-content">
                  <h3 class="post-title">
                    <a href="#">En Biovida, reflejamos la armonía entre salud y belleza, con imágenes que inspiran seguridad, transformación y bienestar.</a>
                  </h3>
                  <div class="post-meta">
                    <span>Julio 9, 2025</span>
                  </div>
                </div>
              </article>
            </div>
          </div>

          <!-- Main Post -->
          <div class="col-lg-6">
            <article class="post-item main-post" data-aos="fade-up">
              <div class="post-img">
                <img src="{% static 'assets/img/education/Vicni.jpg' %}" alt="Post Image" class="img-fluid">
                <span class="category entertainment">VIC-NI</span>
              </div>
              <div class="post-content">
                <h2 class="post-title">
                  <a href="#">En Vicni, resaltamos la dulzura del momento con tomas que transmiten sabor, frescura y alegría.</a>
                </h2>
                <div class="post-meta">
                  <span>Julio 05, 2025</span>
                </div>
              </div>
            </article>
          </div>

          <!-- Right Side Posts -->
          <div class="col-lg-3">
            <div class="side-posts">
              <!-- Side Post 3 -->
              <article class="post-item side-post" data-aos="fade-left" data-aos-delay="100">
                <div class="post-img">
                  <img src="{% static 'assets/img/education/black_diamont.jpg' %}" alt="Post Image" class="img-fluid" loading="lazy">
                  <span class="category entertainment">BLACK DIAMOND</span>
                </div>
                <div class="post-content">
                  <h3 class="post-title">
                    <a href="#">En Black Diamont, cada toma resalta el estilo, la actitud y la elegancia de un corte con personalidad.</a>
                  </h3>
                  <div class="post-meta">
                    <span>Julio 12, 2025</span>
                  </div>
                </div>
              </article>

              <article class="post-item side-post" data-aos="fade-left" data-aos-delay="200">
                <div class="post-img">
                  <img src="{% static 'assets/img/education/concolas.jpg' %}" alt="Post Image" class="img-fluid" loading="lazy">
                  <span class="category entertainment">CONCOLAS</span>
                </div>
                <div class="post-content">
                  <h3 class="post-title">
                    <a href="#">En Concolas, cada momento refleja la alegría, la libertad y el cariño de los perritos disfrutando de un lugar hecho para ellos.</a>
                  </h3>
                  <div class="post-meta">
                    <span>Julio 26, 2025</span>
                  </div>
                </div>
              </article>

            </div>
            
          </div>
        </div>

      </div>

      </section><!-- /News Hero Section -->

      <section id="students-life" class="students-life section">

        <div class="container section-title" data-aos="fade-up">
          <h2>Videos</h2>
        </div>

        <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
          <!-- Filtros -->
          <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">TODO</li>
            <li data-filter=".filter-vicni">VIC-NI</li>
            <li data-filter=".filter-fragante">OLOR FRAGANTE</li>
            <li data-filter=".filter-biovida">BIOVIDA</li>
            <li data-filter=".filter-barber">BLACK DIAMOND</li>
            <li data-filter=".filter-concolas">CONCOLAS</li>
            <li data-filter=".filter-otros">OTROS</li>
          </ul>

          <br>

          <!-- Contenedor de videos -->
          <div class="row portfolio-container g-0" data-aos="fade-up" data-aos-delay="200">
            <!-- VICNI -->
            <div class="col-lg-4 col-md-6 portfolio-item filter-vicni">
              <div class="ratio ratio-16x9">
                <iframe src="https://player.vimeo.com/video/1110627424" 
                        frameborder="0" 
                        allow="autoplay; fullscreen; picture-in-picture" 
                        allowfullscreen></iframe>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-vicni">
              <div class="ratio ratio-16x9">
                <iframe src="https://player.vimeo.com/video/1111801149" 
                        frameborder="0" 
                        allow="autoplay; fullscreen; picture-in-picture" 
                        allowfullscreen></iframe>
              </div>
            </div>

            <!-- OTROS -->
            <div class="col-lg-4 col-md-6 portfolio-item filter-otros">
              <div class="ratio ratio-16x9">
                <iframe src="https://player.vimeo.com/video/1110627331" 
                        frameborder="0" 
                        allow="autoplay; fullscreen; picture-in-picture" 
                        allowfullscreen></iframe>
              </div>
            </div>

            <!-- BARBER -->
            <div class="col-lg-4 col-md-6 portfolio-item filter-barber">
              <div class="ratio ratio-16x9">
                <iframe src="https://player.vimeo.com/video/1110627283" 
                        frameborder="0" 
                        allow="autoplay; fullscreen; picture-in-picture" 
                        allowfullscreen></iframe>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-barber">
              <div class="ratio ratio-16x9">
                <iframe src="https://player.vimeo.com/video/1110627264" 
                        frameborder="0" 
                        allow="autoplay; fullscreen; picture-in-picture" 
                        allowfullscreen></iframe>
              </div>
            </div>

            <!-- BIOVIDA -->
            <div class="col-lg-4 col-md-6 portfolio-item filter-biovida">
              <div class="ratio ratio-16x9">
                <iframe src="https://player.vimeo.com/video/1110627300" 
                        frameborder="0" 
                        allow="autoplay; fullscreen; picture-in-picture" 
                        allowfullscreen></iframe>
              </div>
            </div>

            <!-- CONCOLAS -->
            <div class="col-lg-4 col-md-6 portfolio-item filter-concolas">
              <div class="ratio ratio-16x9">
                <iframe src="https://player.vimeo.com/video/1110627389" 
                        frameborder="0" 
                        allow="autoplay; fullscreen; picture-in-picture" 
                        allowfullscreen></iframe>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-concolas">
              <div class="ratio ratio-16x9">
                <iframe src="https://player.vimeo.com/video/1110627361" 
                        frameborder="0" 
                        allow="autoplay; fullscreen; picture-in-picture" 
                        allowfullscreen></iframe>
              </div>
            </div>

            <!-- Olor Fragante -->
            <div class="col-lg-4 col-md-6 portfolio-item filter-fragante">
              <div class="ratio ratio-16x9">
                <iframe src="https://player.vimeo.com/video/1110627517" 
                        frameborder="0" 
                        allow="autoplay; fullscreen; picture-in-picture" 
                        allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </section>


    <section id="students-life" class="students-life section">

      <div class="container section-title" data-aos="fade-up">
            <h2>Fotos</h2>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">
    
        <div class="students-life-gallery mt-5" data-aos="fade-up" data-aos-delay="200">
          <div class="section-header text-center">
          </div>

          <div class="row g-3">
            <div class="col-md-4" data-aos="zoom-in" data-aos-delay="100">
              <a href="{% static 'assets/img/education/foto_one.jpg' %}" class="gallery-item glightbox">
                <img src="{% static 'assets/img/education/foto_one.jpg' %}" class="img-fluid" loading="lazy" alt="Student Life">
                <div class="gallery-overlay">
                </div>
              </a>
            </div>

            <div class="col-md-4" data-aos="zoom-in" data-aos-delay="200">
              <a href="{% static 'assets/img/education/foto_two.jpg' %}" class="gallery-item glightbox">
                <img src="{% static 'assets/img/education/foto_two.jpg' %}" class="img-fluid" loading="lazy" alt="Student Life">
                <div class="gallery-overlay">
                </div>
              </a>
            </div>

            <div class="col-md-4" data-aos="zoom-in" data-aos-delay="300">
              <a href="{% static 'assets/img/education/camara_one.jpg' %}" class="gallery-item glightbox">
                <img src="{% static 'assets/img/education/camara_one.jpg' %}" class="img-fluid" loading="lazy" alt="Student Life">
                <div class="gallery-overlay">
                </div>
              </a>
            </div>

            <div class="col-md-6" data-aos="zoom-in" data-aos-delay="200">
              <a href="{% static 'assets/img/education/hamburguesa-1.jpg' %}" class="gallery-item glightbox">
                <img src="{% static 'assets/img/education/hamburguesa-1.jpg' %}" class="img-fluid" loading="lazy" alt="Student Life">
                <div class="gallery-overlay">
                </div>
              </a>
            </div>

            <div class="col-md-6" data-aos="zoom-in" data-aos-delay="300">
              <a href="{% static 'assets/img/education/hamburguesa.jpg' %}" class="gallery-item glightbox">
                <img src="{% static 'assets/img/education/hamburguesa.jpg' %}" class="img-fluid" loading="lazy" alt="Student Life">
                <div class="gallery-overlay">
                </div>
              </a>
            </div>

            <div class="col-md-6" data-aos="zoom-in" data-aos-delay="200">
              <a href="{% static 'assets/img/education/foto_five.jpg' %}" class="gallery-item glightbox">
                <img src="{% static 'assets/img/education/foto_five.jpg' %}" class="img-fluid" loading="lazy" alt="Student Life">
                <div class="gallery-overlay">
                </div>
              </a>
            </div>

            <div class="col-md-6" data-aos="zoom-in" data-aos-delay="300">
              <a href="{% static 'assets/img/education/foto_six.jpg' %}" class="gallery-item glightbox">
                <img src="{% static 'assets/img/education/foto_six.jpg' %}" class="img-fluid" loading="lazy" alt="Student Life">
                <div class="gallery-overlay">
                </div>
              </a>
            </div>

          </div>
        </div>

          </div>
        </div>

      </div>

    </section><!-- /Students Life Section -->

  </main>

    <footer id="footer" class="footer position-relative dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">LUMIVY</span>
          </a>
          <div class="footer-contact pt-3">
            <p>▪︎ Damos luz a tu identidad ▪︎</p>
          </div>
          <div class="footer-contact pt-3">
            <p>Colombia</p>
          </div>
          <div class="social-links d-flex mt-4">
          <a href="https://wa.me/573225696521" target="_blank"><i class="bi bi-whatsapp"></i></a>
          <a href="https://www.instagram.com/lumivyoficial" target="_blank"><i class="bi bi-instagram"></i></a>
          <a href="https://www.tiktok.com/@lumivy_oficial" target="_blank"><i class="bi bi-tiktok"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Enlaces Útiles</h4>
          <ul>
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'about' %}">Conócenos</a></li>
            <li><a href="{% url 'contact' %}">Contáctanos</a></li>
            <li><a href="{% url 'our_works' %}">Nuestros Trabajos</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Nuestros Servicios</h4>
          <ul>
          <li><a href="#">Diseño Web</a></li>
          <li><a href="#">Desarrollo Web</a></li>
          <li><a href="#">Grabación Audiovisual</a></li>
          <li><a href="#">Marketing</a></li>
          <li><a href="#">Edición de Video</a></li>
                </ul>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">LUMIVY</strong> <span>TODOS LOS DERECHOS RESERVADOS</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
      </div>
    </div>

  </footer>
  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script async src="//www.instagram.com/embed.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body> 

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      let portfolioContainer = document.querySelector('.portfolio-container');
      if (portfolioContainer) {
        let iso = new Isotope(portfolioContainer, {
          itemSelector: '.portfolio-item'
        });

        let filters = document.querySelectorAll('#portfolio-flters li');
        filters.forEach(filter => {
          filter.addEventListener('click', function(e) {
            e.preventDefault();
            filters.forEach(f => f.classList.remove('filter-active'));
            this.classList.add('filter-active');
            iso.arrange({
              filter: this.getAttribute('data-filter')
            });
          });
        });
      }
    });
  </script>

 <style>
  #portfolio-flters {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    overflow-x: auto;   /* permite el desplazamiento horizontal */
    white-space: nowrap; /* evita que se rompan en varias líneas */
    -webkit-overflow-scrolling: touch; /* suaviza en iPhone */
  }

  #portfolio-flters li {
    cursor: pointer;
    margin: 0 12px;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 500;
    transition: all 0.3s ease;
    flex: 0 0 auto; /* evita que los ítems se encojan */
  }

  #portfolio-flters li:hover {
    color: #fff;
    background: #000000;
  }

  #portfolio-flters li.filter-active {
    color: #fff;
    background: #000000;
  }

  /* Ajustes solo en móviles */
  @media (max-width: 576px) {
    #portfolio-flters li {
      font-size: 9px;
      padding: 4px 8px;
      margin: 0 4px;
    }
  }

  .video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-background iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 56.25vw; /* relación 16:9 */
  min-height: 100vh;
  min-width: 177.77vh; /* relación inversa 9:16 */
  transform: translate(-50%, -50%);
  object-fit: cover;
  pointer-events: none; /* evita que el usuario haga clic en el video */
}
</style>



</html>